{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container">
      {{ self.flash() }}
      <div id="camera_wrap" data-module="vds">
	      <div data-src="/images/banners/ckan_header.jpg" data-link="http://hacksherbrooke.com/" data-target="_blank">
	      	<div class="camera_caption">Nous vous invitons au premier hackathon Sherbrookois</div>
	      </div>
	      <div data-src="/images/banners/4logos_donnees.jpg" data-link="http://www.ville.sherbrooke.qc.ca/salle-de-presse/actualites/communiques-et-actualites/communiques/article/le-gouvernement-du-quebec-et-les-villes-de-quebec-montreal-gatineau-et-sherbrooke-adoptent-une/" data-target="_blank">
	      	<div class="camera_caption">Une licence commune d’utilisation des données ouvertes.</div>
	      </div>
      </div>
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/camera.css">
      <script type="text/javascript" src="/js/camera.min.js"></script>
      <script type="text/javascript">
      	jQuery('#camera_wrap').camera({
      		alignment: 'topCenter', //topLeft, topCenter, topRight, centerLeft, center, centerRight, bottomLeft, bottomCenter, bottomRight
      		easing: 'linear',
      		fx: 'simpleFade',
      		width:'100%',
      		height:'250px',
      		pagination:false,
      	});
      </script>
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>

{% endblock %}

{% block primary_content %}
  <div class="hero-primary module module-popup">
    <div class="module-content box green-box">
      {% block home_primary %}
        <header>
          
        <h2>{{ _('DO YOU LIKE THE IDEA OF OPEN DATA?') }}</h2>
		<p>{{ _('Tell us your ideas!') }}</p>
		<p>{{ _('Suggest us new sets of useful data or applications that will improve the quality of life in our community.') }}</p>
		<p>{{ _('Your suggestions are welcome') }}
				<a href="http://vds-ckan.quatral.com/contact-us">{{ _('here') }}</a></p> 
        </header>
      {% endblock %}

      {% block home_image %}
        {#<section class="featured media-overlay">
          <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
          {% block home_image_content %}
            <a class="media-image" href="#">
              <img src="http://placehold.it/420x220" alt="Placeholder" width="420" height="220" />
            </a>
          {% endblock %}
        </section>#}
      {% endblock %}
    </div>
  </div>
  <div class="hero-secondary">
    <div class="hero-secondary-inner">
      {% block home_secondary_content %}
          <div class="module module-shallow module-narrow module-dark info box">
            {% block home_search %}
              <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search Your Data") }}</h3>
                <div class="search-input control-group search-giant">
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Events') }}" />
                  <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                </div>
              </form>
            {% endblock %}
            {% block home_tags %}
              <div class="tags">
                <h3>{{ _('Popular Tags') }}</h3>
                {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                {% for tag in tags %}
                  <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                {% endfor %}
              </div>
            {% endblock %}
          </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="row group-listing">
    {% for group in c.group_package_stuff %}
      <div class="span6">
        <div class="box">
          {% snippet 'snippets/group_item.html', group=group.group_dict, truncate=50, truncate_title=35 %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{# Remove the toolbar. #}

{% block toolbar %}{% endblock %}
