{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Foire aux questions') }}</a></li>
{% endblock %}

{% block primary %}
<article class="module">
    <div class="module-content">
		<div id="c85" class="csc-default">
			<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Foire aux questions</h1></div>
			</div>
		<div id="c76" class="csc-default">
			<div class="csc-header csc-header-n3"><h2><span>+</span><span class="minus">-</span> Qu'est-ce qu'une donnée ouverte?</h2></div>
			<div class="answer">
			<p class="bodytext">« Le concept d'ouverture des données rend les données accessibles au public par l'entremise de portails, de métadonnées et d'outils de recherche, de manière à ce qu'elles soient réutilisées par les gouvernements, les citoyens, les organismes bénévoles, le milieu universitaire et le secteur privé, de façons nouvelles et non prévues. »&nbsp;
</p>
<p class="bodytext">Source : <a href="http://donnees.gc.ca/fra/foire-aux-questions" title="Opens external link in new window" target="_blank" class="external-link-new-window">Portail de données ouvertes du Gouvernement du Canada</a>
</p>
<p class="bodytext"><a href="#c85" title="Opens internal link in current window" class="internal-link">Haut de la page</a></p></div>
			</div>
		
		<div id="c83" class="csc-default">
			<div class="csc-header csc-header-n4"><h2><span>+</span><span class="minus">-</span> Sous quels formats sont disponibles les données?</h2></div>
			
			<div class="answer">
			<p>En fonction de leur nature, les jeux de données sont offerts dans un ou plusieurs des formats suivants&nbsp;:</p><table summary="" class="border"><tbody>
			<tr><td class="formats"><a href="#" class="label" data-format="csv">CSV</a></td><td rowspan="1">Signifie « Comma-separated values » et désigne un format informatique ouvert représentant des données tabulaires sous forme de valeurs séparées par des virgules. Ce format de texte peut être ouvert par un chiffrier comme Excel</td></tr>
			<tr><td class="formats"><a href="#" class="label" data-format="gml">GML</a></td><td>Signifie « Geography Markup Language ». Langage dérivé du XML pour encoder, manipuler et échanger des données géographiques. Développé par l'Open Geospatial Consortium.<br><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr" target="_blank">Contenu soumis à la licence CC-BY-SA</a>. Source : Article<em> <a href="http://fr.wikipedia.org/wiki/Geography_Markup_Language" target="_blank">Geography Markup Language</a></em>&nbsp;de <a href="http://fr.wikipedia.org/" target="_blank">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Geography_Markup_Language&amp;action=history" target="_blank">auteurs</a>)</td></tr>
			<tr><td class="formats"><a href="#" class="label" data-format="kml">KML</a></td><td>Signifie « Keyhole Markup Language » et désigne un format de type XML qui permet l'affichage de données géospatiales.</td></tr>
			<tr><td class="formats"><a href="#" class="label" data-format="shp">SHP</a></td><td>Format mis au point par ESRI, le "fichier de formes" désigne un format de fichiers lisibles par la plupart des logiciels de systèmes d'informations géographiques (ou SIG). Le fichier SHP est généralement accompagné d'autres fichiers (DBF, SHX, SHP, PRJ, etc.)</td></tr>
			<tr><td class="formats"><a href="#" class="label" data-format="json">JSON</a></td><td>JSON (JavaScript Object Notation) est un format de données textuel, générique, dérivé de la notation des objets du langage ECMAScript. Il permet de représenter de l’information structurée.<br><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr" target="_blank">Contenu soumis à la licence CC-BY-SA</a>. Source :Article <em><a href="http://fr.wikipedia.org/wiki/JavaScript_Object_Notation">JavaScript Object Notation</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=JavaScript_Object_Notation&amp;action=history">auteurs</a>)</td>
			</tr></tbody></table><p class="bodytext">Source des définitions : <a href="http://www.donnees.gouv.qc.ca/?node=/faq#usage" title="Opens external link in new window" target="_blank" class="external-link-new-window">Site de données ouvertes du Gouvernement du Québec</a>
			
			</p>
			<p class=""><a href="#c85" title="Opens internal link in current window" class="internal-link">Haut de la page</a></p>
			</div>
			</div>
		
		<div id="c75" class="csc-default">
			<div class="csc-header csc-header-n5"><h2><span>+</span><span class="minus">-</span> Est-ce que de nouveaux jeux de données seront publiés prochainement?	</h2></div>
			<div class="answer">
			<p class="bodytext">Le projet de données ouvertes est en constante évolution. De nouveaux jeux de données seront publiés en fonction de leur disponibilité et des demandes reçues. Vous souhaitez obtenir un jeu de données en particulier ? Vous pouvez nous transmettre votre demande en utilisant le formulaire disponible à la page<a href="{{ h.url('nous-joindre') }}" title="Opens internal link in current window" class="internal-link"> Nous joindre</a>.
</p>
<p class="bodytext"><a href="#c85" title="Opens internal link in current window" class="internal-link">Haut de la page</a></p></div>
			</div>
		
		<div id="c74" class="csc-default">
			<div class="csc-header csc-header-n6"><h2><span>+</span><span class="minus">-</span> J'ai des questions ou des suggestions à propos des jeux de données. À qui dois-je m'adresser?</h2></div>
			<div class="answer">
			<p class="bodytext">Pour toute question ou suggestion concernant les jeux de données, nous vous invitons à communiquer avec nous en utilisant le formulaire disponible à la page <a href="{{ h.url('nous-joindre') }}" title="Opens internal link in current window" class="internal-link">Nous joindre</a>.
</p>
<p class="bodytext"><a href="#c85" title="Opens internal link in current window" class="internal-link">Haut de la page</a></p></div>
			</div>
		
		<div id="c73" class="csc-default">
			<div class="csc-header csc-header-n7"><h2><span>+</span><span class="minus">-</span> J'ai des questions ou des suggestions à propos du site. À qui dois-je m'adresser?	</h2></div>
			<div class="answer">
			<p class="bodytext">Pour tout problème technique, toute question ou tout commentaire concernant le portail de données ouvertes, nous vous invitons à communiquer avec nous en utilisant le formulaire disponible à la page <a href="{{ h.url('nous-joindre') }}" title="Opens internal link in current window" class="internal-link">Nous joindre</a>.
</p>
<p class="bodytext"><a href="#c85" title="Opens internal link in current window" class="internal-link">Haut de la page</a></p></div>
			</div>
		</div>
		</article>
		<script>
		window.setTimeout(function( ) {
			jQuery(document).ready(function(){
				jQuery('.csc-default h2').click(function(e){
					e.preventDefault();
					console.log(this);
					jQuery(this).parents('.csc-default').find('.answer').not(':animated').slideToggle();
					jQuery(this).find('span').toggle();
				});
			});
		},700);
	
		</script>
		<style>
			.csc-header h2 {
				border-bottom: 1px solid #cccccc;
				padding: 4px;
				cursor: pointer;
			}
			.csc-header h2:hover {
				background-color: #f5f5f5;
			}
			.csc-header h2 span{
				display:block;
				float:right;
				width:25px;
				text-align: right;
			}
			.answer {
				display:none;
			}
			.csc-header h2 span.minus {
				display:none;
			}
		</style>
{% endblock %}

{% block secondary %}{% endblock %}