{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{{ h.url('licence') }}">{{ _('Licence') }}</a></li>
  <li class="active"><a href="#">{{ _('Licence complète') }}</a></li>
{% endblock %}

{% block subtitle %}Licence{% endblock %}

{% block primary %}
<div class="module-content">
		<h2>LICENCE</h2>
	
			<h3>Licence publique Paternité&nbsp;4.0 International de <em>Creative Commons</em></h3>
<p>Lorsque vous exercez les droits accordés aux termes de la licence (définis  ci­dessous), vous acceptez d'être lié par les modalités de la présente licence  publique Paternité&nbsp;4.0 International de <em>Creative Commons</em> (la  «&nbsp;licence publique&nbsp;»). Dans la mesure où la présente licence publique  peut être interprétée comme un contrat, vous bénéficiez des droits accordés aux  termes de la licence en contrepartie de votre acceptation des présentes  modalités, et l'Offrant vous accorde ces droits en contrepartie des avantages  que lui procure le fait d'offrir le matériel autorisé en vertu des présentes  modalités. <br>
  </p><h4>Article&nbsp;1&nbsp;– Définitions.</h4>
<ol start="1" type="a">
  <li><strong>Matériel adapté&nbsp;:</strong> Matériel assujetti aux droits d'auteur et aux droits similaires qui est       issu du matériel autorisé ou qui est fondé sur celui­ci et pour lequel le       matériel autorisé est traduit, modifié, disposé, transformé ou autrement       changé d'une façon qui nécessite une autorisation aux termes des droits       d'auteurs et des droits similaires détenus par l'Offrant. Aux fins de la       présente licence publique, si le matériel visé par la licence est une       œuvre musicale, une représentation ou un enregistrement sonore, le       matériel adapté est toujours produit là où le matériel est synchronisé       avec une image mobile. </li>
  <li><strong>Licence de l’adaptateur&nbsp;:</strong> Licence que vous appliquez à vos droits d'auteur et à vos droits       similaires dans vos contributions au matériel adapté conformément aux       modalités de la présente licence publique. </li>
  <li><strong>Droits d’auteurs et droits       similaires&nbsp;:</strong> Droits d'auteurs ou droits similaires       étroitement liés aux droits d'auteur, y compris, sans s'y limiter, les       droits associés à la représentation, à la diffusion, à l'enregistrement       sonore et à la protection juridique des bases de données, sans égard à la       façon dont ces droits sont étiquetés ou catégorisés. Aux fins de la       présente licence publique, les droits précisés aux articles&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s2b" target="_blank">2.b.1. et       2.b.2.</a> ne sont pas des droits d'auteur ou des droits similaires. </li>
  <li><strong>Mesures techniques efficaces&nbsp;:</strong> Mesures qui, en l'absence d'une autorité compétente, ne peuvent être       contournées aux termes des lois qui satisfont aux obligations de       l'article&nbsp;11 du <em>Traité de       l'OMPI sur le droit d'auteur</em> adopté le 20&nbsp;décembre&nbsp;1996 ou       de toute autre entente internationale similaire. </li>
  <li><strong>Exceptions et restrictions&nbsp;:</strong> Utilisation équitable ou toute autre exception ou restriction en ce qui       concerne les droits d'auteur et les droits similaires qui s'applique à       votre utilisation du matériel autorisé. </li>
  <li><strong>Matériel autorisé&nbsp;:</strong> Œuvre artistique ou littéraire, base de données ou tout autre matériel sur       lequel l'Offrant applique la présente licence publique. </li>
  <li><strong>Droits accordés aux termes de la       licence&nbsp;:</strong> Droits qui vous sont accordés et qui sont       assujettis aux modalités de la présente licence publique. Ces droits sont       limités à tous les droits d'auteur et droits similaires qui s'appliquent à       votre utilisation du matériel autorisé et sur lequel l'Offrant est       autorisé à appliquer une licence. </li>
  <li><strong>Offrant&nbsp;:</strong> Le       particulier ou l'entité qui accorde les droits en vertu de la présente       licence publique. </li>
  <li><strong>Partage&nbsp;:</strong> Le fait       d'offrir du matériel au public par n'importe quel moyen ou processus qui       nécessite une autorisation en vertu des droits accordés aux termes de la       licence, comme la reproduction, la présentation publique, l'exécution       publique, la distribution, la diffusion, la communication ou       l'importation, et le fait d'offrir ce matériel au public de telle façon       que les membres du public peuvent accéder au matériel depuis un       emplacement et à un moment qu'ils ont choisis. </li>
  <li><strong>Protection juridique des bases de       données&nbsp;:</strong> Droits autres que les droits d'auteur       découlant de la <em>Directive       nº&nbsp;96/9/CE du Parlement européen et du Conseil du       11&nbsp;mars&nbsp;1996 concernant la protection juridique des bases de       données</em>, en sa version modifiée ou remplacée, ainsi que de tout autre       droit essentiellement équivalent dans le monde. </li>
  <li><strong>Vous&nbsp;:</strong> Le particulier       ou l'entité qui exerce les droits accordés aux termes de la licence en       vertu de la présente licence. «&nbsp;<strong>Votre</strong>&nbsp;» a une signification équivalente. </li>
</ol>
<h4>Article&nbsp;2&nbsp;– Portée.</h4>
<ol start="1" type="a">
  <li><strong>Octroi d’une licence</strong>. </li>
  <ol start="1" type="1">
    <li>Sous        réserve des modalités de la présente licence publique, l'Offrant vous        accorde par les présentes une licence mondiale franche de redevances, non        exclusive, irrévocable et ne pouvant pas donner lieu à l'octroi d'une        sous­licence vous permettant d'exercer les droits accordés aux termes de        la licence sur le matériel visé par la licence pour&nbsp;: </li>
    <ol start="1" type="A">
      <li>reproduire         et partager la totalité ou une partie du matériel autorisé; </li>
      <li>produire,         reproduire et partager le matériel adapté. </li>
    </ol>
    <li><u>Exceptions        et restrictions</u>. Pour dissiper tout doute, si des exceptions ou des        restrictions s'appliquent à votre utilisation, la présente licence        publique ne s'applique pas et vous n'avez pas à vous conformer à ses        modalités. </li>
    <li><u>Durée</u>.        La durée de la présente licence publique est précisée à l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s6a" target="_blank">6.a.</a></li>
    <li><u>Supports        et formats; modifications techniques permises</u>. L'Offrant vous        autorise à exercer les droits accordés aux termes de la licence sur tous        les supports et dans tous les formats connus ou créés ultérieurement et à        apporter les modifications nécessaires pour y parvenir. L'Offrant renonce        à revendiquer tout droit ou toute autorité vous interdisant d'apporter        les modifications techniques nécessaires à l'exercice des droits accordés        aux termes de la licence, y compris les modifications techniques requises        pour contourner les mesures techniques efficaces. Pour les besoins de la        présente licence publique, le simple fait d'apporter des modifications        autorisées en vertu du présent article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s2a4" target="_blank">2.a.4.</a> ne donne jamais lieu à la production de matériel adapté. </li>
    <li><u>Bénéficiaires        en aval</u>. </li>
    <ol start="1" type="A">
      <li><u>Offre         de l'Offrant&nbsp;– Matériel autorisé</u>. Chacun des bénéficiaires du         matériel autorisé se voit automatiquement offrir par l'Offrant d'exercer         les droits accordés aux termes de la licence conformément aux modalités         de la présente licence publique. </li>
      <li><u>Aucune         restriction en aval</u>. Vous pouvez ne pas offrir ou imposer de         modalité ou de condition supplémentaire ou différente au matériel         autorisé ou n'appliquer aucune mesure technique si le fait de le faire         restreint l'exercice des droits accordés aux termes de la licence par un         bénéficiaire du matériel autorisé. </li>
    </ol>
    <li><u>Aucun        appui</u>. Rien dans la présente licence publique ne permet d'affirmer ou        de laisser entendre que vous ou votre utilisation du matériel autorisé        êtes associé à l'Offrant ou à toute autre personne désignée pour être        mentionnée dans la source, que vous êtes commandité ou visé par ceux­ci        ou qu'ils vous ont accordé un statut officiel, comme il est indiqué à        l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s3a1Ai" target="_blank">3.a.1.A.i.</a>,        et rien ne peut être interprété comme tel. </li>
  </ol>
</ol>
<ol>
  <li><strong>Autres  droits</strong>.</li>
</ol>
<ol start="2" type="a">
  <ol start="1" type="1">
    <li>Les        droits moraux, tels que le droit à l'intégrité, ne sont pas visés par la        présente licence publique, ni le droit à la publicité, le droit à la vie        privée et les autres droits de la personnalité similaires. Cependant,        l'Offrant renonce à revendiquer les droits qu'il détient, ou consent à ne        pas les exercer dans la mesure nécessaire pour vous permettre d'exercer        les droits visés par la présente licence, mais non autrement. </li>
    <li>Les        droits de brevet et de marque ne sont pas visés par la présente licence        publique. </li>
    <li>Dans        la mesure du possible, l'Offrant renonce au droit de vous réclamer des        redevances pour vous permettre d'exercer les droits visés par la licence,        directement ou par l'intermédiaire d'une société de collecte en vertu        d'un système d'octroi de licences volontaire, obligatoire ou auquel on        peut renoncer. Dans tous les autres cas, l'Offrant se réserve        expressément tout droit de percevoir ces redevances. </li>
  </ol>
</ol>
<h4>Article&nbsp;3 – Conditions de la licence.</h4>
  L'exercice des droits visés par la licence est expressément assujetti aux  conditions suivantes&nbsp;: <p></p>
<ol>
  <li><strong>Mention  de la source</strong>.</li>
  <ol>
    <li>Si  vous partagez le matériel autorisé (y compris sous une forme modifiée), vous  devez faire ce qui suit&nbsp;: </li>
  </ol>
</ol>
<ol start="1" type="a">
  <ol start="1" type="1">
    <ol start="1" type="A">
      <li>conserver         les documents suivants, s'ils sont fournis par l'Offrant avec le         matériel autorisé&nbsp;: </li>
      <ol start="1" type="i">
        <li>l'identité          du ou des créateurs du matériel autorisé et celle de toutes les autres          personnes désignées pour être mentionnées dans la source, de la manière          raisonnable réclamée par l'Offrant (y compris les personnes désignées          par pseudonyme); </li>
        <li>un          avis de droit d'auteur; </li>
        <li>un          avis faisant référence à la présente licence publique; </li>
        <li>un          avis faisant référence à la stipulation d'exonération de garanties; </li>
        <li>un          identificateur de ressource uniforme (URI) ou un hyperlien vers le          matériel autorisé, dans la mesure où il est raisonnable de le faire; </li>
      </ol>
      <li>indiquer         si vous avez modifié le matériel autorisé, et conserver une indication         de toutes les modifications précédentes; </li>
      <li>indiquer         si le matériel autorisé est visé par la présente licence publique, et         inclure le texte de celle­ci ou l'URI ou l'hyperlien pour y accéder. </li>
    </ol>
    <li>Vous        pourriez satisfaire aux conditions de l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s3a1" target="_blank">3(a)1)</a> d'une manière raisonnable en fonction du support et des moyens par        lesquels vous partagez le matériel autorisé, et du contexte dans lequel        vous le faites. Par exemple, il pourrait être raisonnable de satisfaire        aux conditions en fournissant un URI ou un hyperlien à une ressource, qui        comprend les renseignements requis. </li>
    <li>Si        l'Offrant le demande, vous devez supprimer tout renseignement requis par        l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s3a1A" target="_blank">3(a)1)A)</a> dans la mesure où il est raisonnable le faire. </li>
    <li>Si        vous partagez le matériel adapté que vous produisez, la licence        d'adaptateur que vous demandez ne doit pas empêcher les bénéficiaires de        ce matériel adapté de se conformer à la présente licence publique. </li>
  </ol>
</ol>
<h4>Article&nbsp;4 – Droits <em>sui  generis</em> sur les bases de données.</h4>
  Lorsque les droits visés par la licence comprennent les droits <em>sui generis</em> sur les bases de données,  qui s'appliquent à votre utilisation du matériel autorisé&nbsp;:<p></p>
<ol start="1" type="a">
  <li>pour       dissiper tout doute, l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s2a1" target="_blank">2(a)1)</a> vous confère le droit d'extraire, de réutiliser, de reproduire et de       partager la totalité ou une partie substantielle du contenu de la base de       données; </li>
  <li>si vous       incluez la totalité ou une partie substantielle du contenu de la base de       données dans une base de données sur laquelle vous détenez des droits <em>sui generis</em>, cette base de données       (non son contenu) est un matériel adapté; </li>
  <li>vous       devez respecter les conditions stipulées à l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s3a" target="_blank">3(a)</a> si vous partagez la totalité ou une partie substantielle du contenu de la       base de données. </li>
</ol>
<p>Pour  dissiper tout doute, l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s4" target="_blank">4</a> complète,  mais ne remplace pas vos obligations en vertu de la présente licence publique,  lorsque les droits visés par celle­ci comprennent, entre autres, d'autres  droits d'auteur et des droits similaires. </p>
  <h4>Article&nbsp;5 – Stipulation d’exonération de garanties et  limitation des responsabilités.</h4>
<ol start="1" type="a">
  <li>À moins qu’il ne se soit engagé à le faire       séparément, l’Offrant offre, dans la mesure du possible, le matériel       autorisé en l’état et selon la disponibilité, et ne fait aucune       déclaration ni n’offre aucune garantie de quelque nature que ce soit       concernant ce matériel, qu’elle soit expresse, implicite, légale ou autre,       y compris, sans s’y limiter, les garanties de titre, de qualité marchande,       d’adaptation à un usage particulier, de non­contrefaçon, d’absence de vice       caché ou d’autres vices, qu’ils soient connus ou non, ou puissent être       découverts. Si la stipulation d’exonération de garanties n’est pas       autorisée en tout ou en partie, elle peut ne pas s’appliquer à Vous.</li>
  <li>Dans la mesure du possible, l’Offrant ne       sera en aucun cas tenu responsable à votre égard, sur la base d’une       théorie légale (y compris, sans s’y limiter, la négligence) ni en raison d’aucun       préjudice direct, indirect, matériel, punitif, exemplaire ni en raison d’autres       pertes, frais, dépenses ou dommages­intérêts découlant de la présente       licence ou de l’utilisation du matériel autorisé, même si l’Offrant a été       informé de la possibilité que ces pertes, frais, dépenses ou       dommages­intérêts surviennent. Si la limitation de responsabilité n’est       pas autorisée en tout ou en partie, elle pourrait ne pas s’appliquer à       Vous.</li>


  <li>La       stipulation d'exonération de garantie et la limitation de responsabilité       susmentionnées sont interprétées, autant que possible, d'une manière qui       se rapproche le plus possible d'une stipulation d'exonération de toute       responsabilité ou d'une renonciation à toute responsabilité. </li>
</ol>
<h4>Article&nbsp;6 – Durée et expiration.</h4>
<ol start="1" type="a">
  <li>La       présente licence publique s'applique pour la durée des droits d'auteur et       des droits similaires visés par les présentes. Cependant, si vous ne       respectez pas les dispositions de la présente licence publique, vos droits       expireront automatiquement. </li>
</ol>
<ol>
  <li>Lorsque  votre droit d'utiliser le matériel autorisé expire en vertu de l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s6a" target="_blank">6(a)</a>, il  est rétabli&nbsp;: </li>
</ol>
<ol start="2" type="a">
  <ol start="1" type="1">
    <li>automatiquement        à la date à laquelle les correctifs nécessaires ont été mis en œuvre pour        remédier au manquement, à la condition qu'ils l'aient été dans les        30&nbsp;jours suivant votre découverte de ce manquement; </li>
    <li>de        façon expresse par l'Offrant. </li>
  </ol>
</ol>
<p>Pour dissiper tout doute, l'article&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s6b" target="_blank">6(b)</a> n'a  aucune incidence sur le droit de l'Offrant de rechercher des moyens pour  remédier à vos manquements à l'égard de la présente licence publique. </p>
<ol start="3" type="a">
  <li>Pour       dissiper tout doute, l'Offrant pourrait aussi offrir le matériel autorisé       selon des modalités distinctes ou cesser de distribuer ce matériel       autorisé en tout temps. Cependant, cela n'entraînera pas la résiliation de       la présente licence publique. </li>
  <li>Les       articles&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s1" target="_blank">1</a>, <a href="http://creativecommons.org/licenses/by/4.0/legalcode#Art. 5" target="_blank">5</a>, <a href="http://creativecommons.org/licenses/by/4.0/legalcode#Art. 6" target="_blank">6</a>, <a href="http://creativecommons.org/licenses/by/4.0/legalcode#s7" target="_blank">7</a> et&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/legalcode#s8" target="_blank">8</a> continuent à s'appliquer malgré la résiliation de la présente licence       publique. </li>
</ol>
<h4>Article&nbsp;7 – Autres modalités.</h4>
<ol start="1" type="a">
  <li>L'Offrant       n'est pas lié par d'autres modalités ou modalités différentes qui lui ont       été communiquées par Vous, à moins d'une entente expresse. </li>
  <li>Tout       arrangement ou accord concernant le matériel autorisé, qui n'est pas       stipulé aux présentes ne fait pas partie de la présente licence publique       et est indépendant de ses modalités. </li>
</ol>
<h4>Article&nbsp;8&nbsp;– Interprétation.</h4>
<ol start="1" type="a">
  <li>Pour       dissiper tout doute, la présente licence publique n'est pas interprétée ni       ne doit être interprétée de manière à diminuer, à restreindre les       conditions d'utilisation du matériel autorisé, ni à imposer des conditions       à cet égard, qui pourraient légalement être imposées sans autorisation aux       termes de la présente licence publique. </li>
  <li>Dans la       mesure du possible, si une disposition de la présente licence publique est       jugée non exécutoire, elle doit être automatiquement reformulée dans la       mesure minimale nécessaire pour qu'elle devienne exécutoire. Si cette       disposition ne peut être reformulée, elle doit être supprimée de la       présente licence publique sans nuire à la force exécutoire des autres       modalités. </li>
  <li>Aucune       modalité de la présente licence publique ne peut faire l'objet d'une       renonciation. Aucun manquement à toute modalité de la présente licence ne       sera accepté par l'Offrant, à moins d'une entente expresse avec ce       dernier. </li>
  <li>Aucune       disposition de la présente licence publique ne constitue ou peut être       interprétée comme une renonciation à des privilèges et à des immunités qui       s'appliquent à l'Offrant ou à vous, y compris découlant de processus judiciaires d'une instance ou d'une autorité. </li>
</ol>


 <p> <a href="http://creativecommons.org/licenses/by/4.0/deed.fr_CA" target="_blank">Voi l’acte original de Creative Commons</a></p>
			
			
	
					
			
		
			
			
		</div>{% endblock %}

{% block secondary %}{% endblock %}