{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Licence') }}</a></li>
{% endblock %}

{% block subtitle %}Licence{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
		<h2>LICENCE</h2>
		<h3>Creative Commons 4.0</h3>
		<p>Cette licence a pour but de favoriser l’ouverture des données publiques et leurs réutilisations afin 
		de répondre aux aspirations des citoyens qui souhaitent s’impliquer dans l’amélioration du quotidien de leur 
		concitoyen en réalisant des applications informatiques à partir des données rendues disponibles. </p>
		<p>La licence a également pour but de favoriser le partage d’informations et la protection des utilisateurs potentiels. </p>
		
		<p>Elle vise trois objectifs principaux soit :</p>
		<ul>
		<li>Définir les droits d’utilisation inhérents à l’ouverture de ses données;</li>
		<li>Protéger la Ville et ses représentants contre tout dommage direct ou indirect à leurs utilisations;</li>
		<li>Empêcher leurs utilisations dans le but de contrevenir à la loi ou pouvant porter préjudice à autrui.</li>
		</ul>
		
		<p>En utilisant les Données, vous reconnaissez avoir lu et compris les conditions d’utilisation énoncées dans le <a href="{{ h.url('licence_complete') }}" title="Texte complet de la licence.">texte 
		complet de la licence</a> et acceptez d'être juridiquement lié par celles-ci.</p>
					
	</div>
</article>
{% endblock %}

{% block secondary_content %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i>Licence ouverte</h2>
    <div class="module-content">
		<p>
			<h3>Questions ou commentaire ?</h3>
			N'hésitez pas à <a href="{{ h.url('nous-joindre') }}">nous joindre</a> 
		</p>
	</div>
</section>
{% endblock %}