{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Licence') }}</a></li>
{% endblock %}

{% block subtitle %}Licence{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
		<h2>LICENCE</h2>
		<h3>Creative Commons 4.0</h3>
		<p>Cette licence a pour but de favoriser l’ouverture des données publiques et leur réutilisation afin de 
		répondre aux aspirations des citoyens qui souhaitent s’impliquer dans l’amélioration du quotidien de leurs 
		concitoyens en réalisant des applications informatiques à partir des données rendues disponibles.</p>
		<p>La licence a également pour but de favoriser le partage d’informations et la protection des utilisateurs potentiels.</p>
		
		<p>Elle vise trois objectifs principaux soit :</p>
		<ul>
		<li>Définir les droits d’utilisation inhérents à l’ouverture de ces données;</li>
		<li>Protéger la Ville de Sherbrooke et ses représentants ainsi que les autres organismes producteurs de données 
			contre tout dommage direct ou indirect à l’utilisation des données;</li>
		<li>Empêcher leur utilisation dans le but de contrevenir à la loi ou pouvant porter préjudice à autrui.</li>
		</ul>
		<p>En utilisant les Données, vous reconnaissez avoir lu et compris les conditions d’utilisation énoncées dans le 
			<a href="{{ h.url('licence_complete') }}" title="Texte complet de la licence.">texte complet de la licence</a> 
			et acceptez d'être juridiquement lié par celles-ci.</p>
		<p>Le présent contrat est régi par les lois applicables au Québec et toute procédure judiciaire doit être intentée dans le district judiciaire de Saint-François.</p>
		<p>Toute communication relative à la licence doit se faire par écrit en français à moins d'entente écrite entre les parties. </p>
	</div>
</article>
{% endblock %}

{% block secondary_content %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i>Licence ouverte</h2>
    <div class="module-content">
		<p>
			<h3>CC 4.0</h3>
			<ul>
			<li><a href="{{ h.url('licence_complete') }}" title="Texte complet de la licence.">Texte complet de la licence</a></li> 
			<li><a href="http://creativecommons.org/licenses/by/4.0/deed.fr_CA" target="_blank">Voir l’acte original de Creative Commons</a></li>
			</ul> 
		</p>
		<p>
			<h3>Questions? Commentaires?</h3>
			N'hésitez pas à <a href="{{ h.url('nous-joindre') }}">nous joindre</a> 
		</p>
	</div>
</section>
{% endblock %}